name: Build and Test

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: HW8

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET 9.0
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore
        run: dotnet restore Calculator.sln

      - name: Build
        run: dotnet build Calculator.sln --configuration Release --no-restore

      - name: Test
        run: dotnet test Calculator.sln --no-build --configuration Release --logger trx --collect:"XPlat Code Coverage"

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: HW8/**/TestResults/